body{
    background-color: white;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.container{
    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: baseline;
    border-radius: 10px;
}
@media (max-width:1200px) {
    .container{
        width: 120%;
        height: 60% ;
    }
}
.item1{
    background-color: rgb(8, 8, 112);
    color: white;
    width: 150px;
    height: 1250px;
}
@media (max-width:100px) {
    .item1{
        width: 100%;
        height: 60% ;
    }
}
.item2{
    background-color:white ;
    color: black;
    width: 700px;
    height: 1228px;
    border: 1px solid rgb(84, 84, 233) ;
    padding: 10px;
}
@media (max-width:900px) {
    .item2{
        width: 100%;
        height: 60% ;
    }
}
h5{
    color: rgb(8, 8, 112);
}
}
.icon{
    font-size: larger;
}
h2{
    color: rgb(8, 8, 112);
}
#para{
    font-style: oblique;
}
.title{
    font-size: medium;
    color: rgb(8, 8, 112);
    margin-bottom: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-weight: bold;
    
}
.icon{
    font-size: large;
    display: flex;
    border-radius: 20px;
    color: rgb(8, 8, 112);

}
div.container{
    border-radius: 10px;

}
div.icons{
    display: flex;
}
div.display{
    display: block;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}